@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #080808;
  /* overflow: hidden; */
}

* {
  font-family: "Pixelify Sans";
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff50;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #ffffff;
  width: 4px;
}

.wallet-adapter-button {
  width: 100% !important;
}
.wallet-adapter-dropdown {
  width: 216px !important;
}
.playground .wallet-adapter-button.wallet-adapter-button-trigger {
  /* className="bg-[#7E49F0] my-8 rounded-2xl text-[20px] text-white-100 font-bold text-center py-4" */
  border-radius: 16px !important;
  text-align: center !important;
  background: #7e49f0 !important;
  margin-top: 32px !important;
  height: 62px !important;
  margin-bottom: 32px !important;
  display: flex !important;
  justify-content: center !important;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  white-space: nowrap !important;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highcharts-container {
  /* width: 300px !important; */
}
/* .highcharts-series-group {
  animation: rotateAnimation 5s infinite linear;
  transform-origin: center center;
} */
